
.jumbotron-1 {
  padding: 50px;
  margin-bottom: -20px;
  background: #B4131D;
}

.jumbotron-2 {
  padding: 20px;
  margin-top: 0px;
  background: #B4131D;
}

.text-white {
  text-decoration-color: #F6F0D5;
  color: white;
}

.popcorn-background {
  background: url('./static/popcorn.jpg');
}

.button-format {
  background-color: #B4131D;
  margin-top: 70px;
}
